@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Boodschappen</h2>

<h4>Boodschappen</h4>
<ul>
	<li><a href="~/Boodschappen/">Boodschappen</a></li>
	<li><a href="~/KassaBonnen/">Kassabonnen</a></li>
	<li><a href="~/KassaBonnen/Items/">Kassabonnen items</a></li>
</ul>
<h4>Administratie</h4>
<ul>
	<li><a href="~/AdminKetens/">Winkel keten</a></li>
	<li><a href="~/AdminWinkels/">Winkel</a></li>
</ul>

<a href="~/KassaBonnen/CalendarWeeks">Calendar</a>

<h4>Banking</h4>
<ul>
	<li><a href="~/Banking/">Bank information</a></li>
	<li><a href="~/Banking/CalendarMonths">Calendar</a></li>
</ul>