@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Boodschappen</h2>

<h4>Boodschappen</h4>
<ul>
	<li><a href="~/BoodschapDetails/">Boodschappen details</a></li>
</ul>
<h4>Administratie</h4>
<ul>
	<li><a href="~/AdminKetens/">Winkel keten</a></li>
	<li><a href="~/AdminWinkels/">Winkel</a></li>
</ul>